<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MegaStarzEntities" connectionString="metadata=res://*/MegaStarz.csdl|res://*/MegaStarz.ssdl|res://*/MegaStarz.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=efnitz\sqlexpress;initial catalog=MegaStarz;Trusted_Connection=Yes;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>